<%
const navbarLinks = locals.user ? [
    {
        href: '/',
        text: 'Homepage | Messages',
        icon: 'home'
    },
    {
        href: '/users',
        text: 'Users',
        icon: 'group'
    },
    {
        href: '/new-message',
        text: 'Send A Message',
        icon: 'send'
    },
    {
        href: '/dashboard',
        text: 'Dashboard',
        icon: 'dashboard'
    },
    {
        href: '/about',
        text: 'About',
        icon: 'lightbulb'
    },
    {
        href: '/logout',
        text: 'Logout',
        icon: 'logout'
    },
    {
        href: 'https://github.com/IgnacioGandur/members-only',
        text: 'Github Repo',
        icon: 'code'
    },
] : [
    {
        href: '/',
        text: 'Homepage',
        icon: 'home'
    },
    {
        href: '/register',
        text: 'Register',
        icon: 'group_add'
    },
    {
        href: '/login',
        text: 'Login',
        icon: 'login'
    },
    {
        href: '/about',
        text: 'About',
        icon: 'lightbulb'
    },
    {
        href: 'https://github.com/IgnacioGandur/members-only',
        text: 'Github Repo',
        icon: 'code'
    },
]
%>

<nav class="navbar">
    <% navbarLinks.forEach((link)=> { 
        const isActive = locals.currentPath === link.href ||
        (link.href !== '/' && locals.currentPath.startsWith(link.href));
    %>
            <a <%= link.text === 'Github Repo' ? 'target="about_blank"' : '' %> class="<%= isActive ? 'active' : null %><%= link.text === 'Logout' ? 'logout' : '' %>" href="<%= link.href %>">
                <span class="material-symbols-sharp">
                    <%= link.icon %>
                </span>
                <p class="description">
                    <%= link.text %>
                </p>
            </a>
    <% }) %>
</nav>
<nav id="mobile-navbar" class="mobile-navbar">
    <% navbarLinks.forEach((link)=> { 
        const isActive = locals.currentPath === link.href ||
        (link.href !== '/' && locals.currentPath.startsWith(link.href));
    %>
            <a class="<%= isActive ? 'active' : null %><%= link.text === 'Logout' ? 'logout' : '' %>" href="<%= link.href %>">
                <span class="material-symbols-sharp">
                    <%= link.icon %>
                </span>
                <p class="description">
                    <%= link.text %>
                </p>
            </a>
    <% }) %>
</nav>
