<nav class="navbar">
    <a class="<%=  currentPath === '/' ? 'active' : null %>" href="/">
        <span class="material-symbols-sharp">
            home
        </span>
        <p class="description">
            Home
        </p>
    </a>
    <% if(locals.user) { %>
        <a class="<%= currentPath === '/users' ? 'active' : null %>"  href="/users">
            <span class="material-symbols-sharp">
                group
            </span>
            <p class="description">
                Users
            </p>
        </a>
    <% } %>
    <% if(!locals.user) { %>
        <a class="<%= currentPath === '/register' ? 'active' : null %>" href="/register">
            <span class="material-symbols-sharp">
                person_add
            </span>
            <p class="description">
                Register
            </p>
        </a>
        <a class="<%= currentPath  === '/login' ? 'active' : null %>" href="/login">
            <span class="material-symbols-sharp">
                login
            </span>
            <p class="description">
                Login
            </p>
        </a>
    <% } %>
    <% if(locals.user) { %>
        <a class="<%= currentPath  === '/new-message' ? 'active' : null %>" href="/new-message">
            <span class="material-symbols-sharp">
                send
            </span>
            <p class="description">
                New Message
            </p>
        </a>
        <a class="<%= currentPath  === '/dashboard' ? 'active' : null %>" href="/dashboard">
            <span class="material-symbols-sharp">
                dashboard
            </span>
            <p class="description">
                Dashboard
            </p>
        </a>
    <% } %>
    <% if(locals.user) { %>
        <a class="logout" href="/logout">
            <span class="material-symbols-sharp">
                logout
            </span>
            <p class="description">
                Logout
            </p>
        </a>
    <% } %>
</nav>
