<form class="register-form" action="/register" method="POST">
        <div class="title-wrapper">
            <h1 class="title">
                Welcome To Members Only<span>!</span>
            </h1>
            <p class="sub-title">
                Unlock Members-Only Benefits - Register Now!
            </p>
        </div>
        <div class="three-fields-section">
            <div class="form-field">
                <label class="label" for="firstName">
                    First name
                </label>
                <div class="input-wrapper">
                    <span class="material-symbols-sharp input-icon">
                        person
                    </span>
                    <input class="input-field" type="text" name="firstName" id="firstName" placeholder="John" />
                </div>
            </div>
            <div class="form-field">
                <label class="label" for="lastname">
                    Last name
                </label>
                <div class="input-wrapper">
                    <span class="material-symbols-sharp input-icon">
                        person
                    </span>
                    <input class="input-field" type="text" name="lastName" id="lastname" placeholder="Doe"/>
                </div>
            </div>
            <div class="form-field">
                <label class="label" for="username">
                    Username
                </label>
                <div class="input-wrapper">
                    <span class="material-symbols-sharp input-icon">
                        alternate_email
                    </span>
                    <input class="input-field" type="text" name="username" id="username" placeholder="John.Doe"/>
                </div>
            </div>
        </div>
        <div class="password-fields">
            <div class="form-field">
                <label class="label" for="password">
                    Password
                </label>
                <div class="input-wrapper">
                    <span class="material-symbols-sharp input-icon">
                        password
                    </span>
                    <input data-password-field class="input-field" type="password" name="password" id="password" placeholder="******"/>
                    <button data-toggle-pass-visibility class="pass-visibility-button" type="button">
                        <span data-show-pass-icon class="material-symbols-sharp input-icon">
                            visibility
                        </span>
                    </button>
                </div>
            </div>
            <div class="form-field">
                <label class="label" for="confirmPassword">
                    Repeat your password
                </label>
                <div class="input-wrapper">
                    <span class="material-symbols-sharp input-icon">
                        password
                    </span>
                    <input data-repeat-password-field class="input-field" type="password" name="confirmPassword" id="confirmPassword" placeholder="******" />
                    <button data-toggle-repeat-pass-visibility class="pass-visibility-button" type="button">
                        <span data-repeat-pass-icon class="material-symbols-sharp input-icon">
                            visibility
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="gender-and-bio">
            <div class='gender'>
                <p class="field-title">
                    Gender
                </p>
                <div class="gender-options">
                    <div class=" gender-option male">
                        <label for='male'>
                            <span class="material-symbols-sharp input-icon">
                                male
                            </span>
                            <p>
                                Male
                            </p>
                        </label>
                        <input type="radio" name="gender" id="male" value="male" checked/>
                    </div>
                    <div class="gender-option female">
                        <label for='female'>
                            <span class="material-symbols-sharp input-icon">
                                female
                            </span>
                            <p>
                                Female
                            </p>
                        </label>
                        <input type="radio" name="gender" id="female" value="female" />
                    </div>
                </div>
            </div>
            <div class="bio">
                <label class="label" for="bio">
                    Share a small desription about you
                </label>
                <div class="input-wrapper">
                    <span class="material-symbols-sharp input-icon">
                        person_book
                    </span>
                    <input class="input-field" type="text" name="bio" id="bio" placeholder="Write something that you will like others to know about you!"/>
                </div>
            </div>
        </div>
        <% if(locals.profilePictures) { %>
            <div class="profile-picture-section">
                <p class="field-title">
                    Choose a profile picture
                </p>
                <div class="profile-pictures-container">
                    <% profilePictures.forEach((profilePicture) => { %>
                        <div class="option">
                            <label for="<%= profilePicture.description %>">
                                <img style="width: 150px;" src="<%= profilePicture.path %>" alt="<%= profilePicture.description %>" />
                            </label>
                            <input type="radio" name="profilePicture" id="<%= profilePicture.description %>" value="<%= profilePicture.id %>" <%= profilePicture.id === 1 ? 'checked' : '' %> />
                        </div>
                    <% }) %>
                </div>
            </div>
        <% } %>
    <button class="button" type="submit">
        Create user
    </button>
    <p>
        Already have an account? <a href="/login">Login</a>!
    </p>
</form>
