<% if(locals.messages) { %>
    <div class="messages-container">
        <% if(!locals.user) { %>
            <div class="not-logged-message">
                <p>
                    You need and account to see the user's names and message's dates. <a href='/register'>Register</a>!
                </p>
            </div>
        <% } %>
        <% if(locals.user) { %>
            <% if(!locals.user.is_member) { %>
                <div class="not-logged-message">
                    <p>
                        You need to be a member to see the messages authors and dates. Become a member <a href="/dashboard/account-status">here</a>!
                    </p>
                </div>
            <% } %>
        <% } %>
        <% messages.forEach((message, index)=>{ %>
            <article style="animation-delay: <%= index  %>75ms;" class="message">
                <div class="header">
                    <div class="profile-picture">
                        <img src="<%= message.profile_picture %>" alt="User Profile Picture 1" />
                    </div>
                    <div class="user-info">
                        <div class="full-name">
                            <% if(locals.user) { %>
                                <% if(locals.user.is_member) { %>
                                    <a href="/users/<%= message.message_author %>">
                                        <%= message.first_name %> <%= message.last_name %>
                                    </a>
                                <% } else { %>
                                    <span>
                                        Anonymous
                                    </span>
                                <% } %>
                            <% } else { %>
                                <span>
                                    Anonymous
                                </span>
                            <% } %>
                            <% if(message.is_admin || message.is_member) { %>
                                <div class="badges">
                                    <% if(message.is_admin) { %>
                                        <div class="icon-wrapper">
                                            <span title="Admin" class="material-symbols-sharp">
                                                <%= message.is_admin ? 'shield_with_heart' : '' %>
                                            </span>
                                        </div>
                                    <% } %>
                                    <% if(message.is_member) { %>
                                        <div class="icon-wrapper">
                                            <span title="Member" class="material-symbols-sharp">
                                                <%= message.is_member ? 'security' : '' %>
                                            </span>
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                        <div class="username-and-gender">
                            <p class="username">
                                @
                                <% if(locals.user) { %>
                                    <% if(locals.user.is_member) { %>
                                        <%= message.username %>
                                    <% } else { %>
                                        Anonymous
                                    <% } %>
                                <% } else { %>
                                    Anonymous
                                <% } %>
                            </p>
                            <div class="gender-icon-wrapper">
                                <span class="material-symbols-sharp <%= message.gender === 'male' ? 'male' : 'female' %>">
                                    <%= message.gender %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
                <div class="message-content">
                    <p class="title">
                        <%= message.message_title %>
                    </p>
                    <p class="body">
                        <%= message.message_content %>
                    </p>
                </div>
                <div class="separator"></div>
                <p class="message-date">
                    <%if(locals.user) {  %>
                        <% if(user.is_member) { %>
                            <%= message.message_date %>
                        <% } %>
                    <% } else { %>
                        "Message Date."
                    <% } %>
                </p>
                <% if(locals.user) { %>
                    <% if(locals.user.is_admin) { %>
                        <form class="delete-form" action="/delete-message" method="POST">
                            <input type="hidden" name="messageId" value="<%= message.message_id %>" />
                            <button class="delete-button" type="submit">
                                <span class="material-symbols-sharp">
                                    close
                                </span>
                            </button>
                        </form>
                    <% } %>
                <% } %>
            </article>
        <% }) %>
        <% if(locals.messages.length === 0) { %>
            <div class="no-messages">
                <%- include('../partials/messages-bg.ejs') %>
                <h2>
                    There are no messages <span class="material-symbols-sharp">heart_broken</span>
                </h2>
                <p>
                    Be the first one to write a message <a href="/new-message">here</a>!
                </p>
            </div>
        <% } %>
    </div>
<% } %>
