<form action="/dashboard/update-profile-picture" method="POST" class="profile-picture-section">
    <h2>Update Your Profile Picture</h2>
    <div class="horizontal-separator"></div>
    <div class="profile-picture">
        <div class="current-profile-picture">
            <p class="field-title">Current Profile Picture</p>
            <div class="horizontal-separator"></div>
            <div class="ppf-wrapper">
                <img src="<%= user.profile_picture %>" alt="<%= user.ppf_description %>" />
            </div>
        </div>
        <div class="vertical-separator"></div>
        <div class="change-profile-picture">
            <% if(locals.profilePictures) { %>
                    <p class="field-title">Select A New Profile Picture</p>
                    <div class="horizontal-separator"></div>
                    <div class="profile-pictures-container">
                        <% profilePictures.forEach((profilePicture) => { %>
                            <div class="option">
                                <label clas for="<%= profilePicture.description %>">
                                    <img src="<%= profilePicture.path %>" alt="<%= profilePicture.description %>" >
                                </label>
                                <input type="radio" name="updatedProfilePicture" id="<%= profilePicture.description %>" value="<%= profilePicture.id  %>" <%= user.profile_picture === profilePicture.path ? 'checked' : null  %> />
                            </div>
                        <% }) %>
                    </div>
            <% } %>
        </div>
    </div>
    <div class="horizontal-separator"></div>
    <button class="button">Update Profile Picture</button>
</form>
<form action="/dashboard/update-user-profile" method="POST" class="update-user-info-form">
    <h2>
        Update Your Profile
    </h2>
    <div class="horizontal-separator">
    </div>
    <div class="fullname">
        <div class="first-name form-field">
            <label class="label" for="firstName">
                First Name
            </label>
            <div class="input-wrapper">
                <span class="material-symbols-sharp input-icon">
                    person
                </span>
                <input class="input-field" type="text" name="firstName" id="firstName" value="<%= user.first_name %>" />
            </div>
        </div>
        <div class="vertical-separator"></div>
        <div class="last-name form-field">
            <label class="label" for="lastName">
                Last Name
            </label>
            <div class="input-wrapper">
                <span class="material-symbols-sharp input-icon">
                    person
                </span>
                <input class="input-field" type="text" name="lastName" id="lastName" value="<%= user.last_name %>" />
            </div>
        </div>
        <div class="vertical-separator"></div>
        <div class="username form-field">
            <label class="label" for="username">
                Username
            </label>
            <div class="input-wrapper">
                <span class="material-symbols-sharp input-icon">
                    alternate_email
                </span>
                <input class="input-field" type="text" name="username" id="username" value="<%= user.username %>">
            </div>
        </div>
    </div>
    <div class="horizontal-separator"></div>
    <div class="gender-and-bio">
        <div class="genders form-field">
            <p class="field-title">Gender</p>
            <div class="gender-options">
                <div class="gender-option male ">
                    <label for="male">
                        <span class="material-symbols-sharp input-icon">
                            male
                        </span>
                        Male
                    </label>
                    <input type="radio" name="gender" id="male" value="male" <%= user.gender === 'male'  ? 'checked' : null %>>
                </div>
                <div class="gender-option female ">
                    <label for="female">
                        <span class="material-symbols-sharp input-icon">
                            female
                        </span>
                        Female
                    </label>
                    <input type="radio" name="gender" id="female" value="female" <%= user.gender === 'female'  ? 'checked' : null %>>
                </div>
            </div>
        </div>
        <div class="vertical-separator"></div>
        <div class="bio form-field">
            <label class="label" for="bio">Bio</label>
            <div class="input-wrapper">
                <span class="material-symbols-sharp input-icon">
                    person_book
                </span>
                <input class="input-field" type="text" name="bio" id="bio" value="<%= user.bio %>">
            </div>
        </div>
    </div>
    <div class="horizontal-separator"></div>
    <button class="button" type="submit">Update Profile Info</button>
</form>
