<form action="/dashboard/update-profile-picture" method="POST" class="profile-picture-section">
    <h2>Update Your Profile Picture</h2>
    <div class="horizontal-separator"></div>
    <div class="profile-picture">
        <div class="current-profile-picture">
            <p class="field-title">Current Profile Picture</p>
            <div class="horizontal-separator"></div>
            <div class="ppf-wrapper">
                <img src="<%= user.profile_picture %>" alt="<%= user.ppf_description %>" />
            </div>
        </div>
        <div class="vertical-separator"></div>
        <div class="change-profile-picture">
            <% if(locals.profilePictures) { %>
                    <p class="field-title">Select A New Profile Picture</p>
                    <div class="horizontal-separator"></div>
                    <div class="profile-pictures-container">
                        <% profilePictures.forEach((profilePicture) => { %>
                            <div class="option">
                                <label clas for="<%= profilePicture.description %>">
                                    <img src="<%= profilePicture.path %>" alt="<%= profilePicture.description %>" >
                                </label>
                                <input type="radio" name="updatedProfilePicture" id="<%= profilePicture.description %>" value="<%= profilePicture.id  %>" <%= user.profile_picture === profilePicture.path ? 'checked' : null  %> />
                            </div>
                        <% }) %>
                    </div>
            <% } %>
        </div>
    </div>
    <div class="horizontal-separator"></div>
    <button class="button">Update Profile Picture</button>
</form>
