<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Dashboard</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/variables.css">
        <link rel="stylesheet" href="/css/dashboard.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/classes.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20,100,0..1,-50" />
        <script defer src="/js/dashboard.js"></script>
    </head>
    <body>
        <%- include('../partials/navbar.ejs', {currentPath}) %>
        <main>
            <%- include("../partials/header.ejs", {pageTitle: 'Dashboard'}) %>
            <% if(locals.validationErrors) { %>
                <% validationErrors.forEach((error)=>{ %>
                    <p>
                        <%= error.msg %>
                    </p>
                <% }) %>
            <% } %>
            <div class="dashboard">
                <div class="profile-info">
                    <h2>
                        Edit Your Profile Information
                    </h2>
                    <div class="horizontal-separator"></div>
                    <form action="/update-user-profile" method="POST" class="update-user-info-form">
                        <div class="fullname">
                            <div class="first-name form-field">
                                <label class="label" for="firstName">
                                    First Name
                                </label>
                                <div class="input-wrapper">
                                    <span class="material-symbols-sharp input-icon">
                                        person
                                    </span>
                                    <input class="input-field" type="text" name="firstName" id="firstName" value="<%= user.first_name %>" />
                                </div>
                            </div>
                            <div class="vertical-separator"></div>
                            <div class="last-name form-field">
                                <label class="label" for="lastName">
                                    Last Name
                                </label>
                                <div class="input-wrapper">
                                    <span class="material-symbols-sharp input-icon">
                                        person
                                    </span>
                                    <input class="input-field" type="text" name="lastName" id="lastName" value="<%= user.last_name %>" />
                                </div>
                            </div>
                            <div class="vertical-separator"></div>
                            <div class="username form-field">
                                <label class="label" for="username">
                                    Username
                                </label>
                                <div class="input-wrapper">
                                    <span class="material-symbols-sharp input-icon">
                                        alternate_email
                                    </span>
                                    <input class="input-field" type="text" name="username" id="username" value="<%= user.username %>">
                                </div>
                            </div>
                        </div>
                        <div class="horizontal-separator"></div>
                        <div class="gender-and-bio">
                            <div class="genders form-field">
                                <p class="field-title">Gender</p>
                                <div class="gender-options">
                                    <div class="gender-option male ">
                                        <label for="male">
                                            <span class="material-symbols-sharp input-icon">
                                                male
                                            </span>
                                            Male
                                        </label>
                                        <input type="radio" name="gender" id="male" value="male" <%= user.gender === 'male'  ? 'checked' : null %>>
                                    </div>
                                    <div class="gender-option female ">
                                        <label for="female">
                                            <span class="material-symbols-sharp input-icon">
                                                female
                                            </span>
                                            Female
                                        </label>
                                        <input type="radio" name="gender" id="female" value="female" <%= user.gender === 'female'  ? 'checked' : null %>>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-separator"></div>
                            <div class="bio form-field">
                                <label class="label" for="bio">Bio</label>
                                <div class="input-wrapper">
                                    <span class="material-symbols-sharp input-icon">
                                        person_book
                                    </span>
                                    <input class="input-field" type="text" name="bio" id="bio" value="<%= user.bio %>">
                                </div>
                            </div>
                        </div>
                        <div class="horizontal-separator"></div>
                        <button class="button" type="submit">Update Profile</button>
                    </form>
                </div>
                <div class="password">
                    <h2>Change Your Password</h2>
                    <div class="horizontal-separator"></div>
                    <form action='/update-password' method="POST">
                        <div class="form-field">
                            <label class="label" for="currentPassword">
                                Current Password
                            </label>
                            <div class="input-wrapper">
                                <span class="material-symbols-sharp input-icon">
                                    key
                                </span>
                                <input class="input-field" type="text" name="currentPassword" id="currentPassword" />
                            </div>
                        </div>
                        <div class="form-field">
                            <label class="label" for="newPassword">
                                New Password
                            </label>
                            <div class="input-wrapper">
                                <span class="material-symbols-sharp input-icon">
                                    key
                                </span>
                                <input class="input-field" type="password" name="newPassword" id="newPassword" />
                            </div>
                        </div>
                        <div class="form-field">
                            <label class="label" for="confirmNewPassword">
                                Confirm New Password
                            </label>
                            <div class="input-wrapper">
                                <span class="material-symbols-sharp input-icon">
                                    key
                                </span>
                                <input class="input-field" type="password" name="confirmNewPassword" id="confirmNewPassword" />
                            </div>
                        </div>
                        <div class="horizontal-separator"></div>
                        <button class="button" type="submit">
                            Change Password
                        </button>
                    </form>
                </div>
                <div class="badges">
                    <h2>Account Status</h2>
                    <div class="horizontal-separator"></div>
                    <div class="badges-container">
                        <% if(user.is_admin) { %>
                            <div class="badge is-admin" title="Admin">
                                <span class="material-symbols-sharp">
                                    local_police
                                </span>
                                <p class="description">Admin</p>
                            </div>
                        <% } else { %>
                            <div class="badge" title="Not An Admin">
                                <span class="material-symbols-sharp">
                                    gpp_bad
                                </span>
                                <p>Not An Admin</p>
                            </div>
                        <% } %>
                        <div class="vertical-separator"></div>
                        <% if(user.is_member) { %>
                            <div class="badge is-member" title="Member">
                                <span class="material-symbols-sharp">
                                    award_star
                                </span>
                                <p>Member</p>
                            </div>
                        <% } else { %>
                            <div class="badge is-not-member" title="Not A Member">
                                <span class="material-symbols-sharp">
                                    heart_broken
                                </span>
                                <p>Not A Member</p>
                            </div>
                        <% } %>
                    </div>
                    <div class="horizontal-separator"></div>
                    <% if(!user.is_admin || !user.is_member) { %>
                        <div class="forms-container">
                            <% if(!user.is_member){ %>
                                <form class="form" action="/member-pass" method="POST">
                                    <label class="label" for="memberPass">
                                        Member Code
                                    </label>
                                    <div class="input-wrapper">
                                        <span class="material-symbols-sharp input-icon">
                                            heart_check
                                        </span>
                                        <input class="input-field" type="password" name="memberPass" id="memberPass" />
                                    </div>
                                    <button class="button" type="submit">
                                        Enable member status
                                    </button>
                                </form>
                            <% } %>
                            <% if(!user.is_admin && !user.is_member) { %>
                                <div class="vertical-separator"></div>
                            <% } %>
                            <% if(!user.is_admin) { %>
                                <form class="form" action="/admin-pass" method="POST">
                                    <label class="label" for="adminPass">
                                        Admin Code
                                    </label>
                                    <div class="input-wrapper">
                                        <span class="material-symbols-sharp input-icon">
                                            security
                                        </span>
                                        <input class="input-field" type="password" name="adminPass" id="adminPass" />
                                    </div>
                                    <button class="button" type="submit">
                                        Enable admin status
                                    </button>
                                </form>
                            <% } %>
                        </div>
                    <% } %>
                </div>
                <form action="/update-profile-picture" method="POST" class="profile-picture-section">
                    <h2>Update Your Profile Picture</h2>
                    <div class="horizontal-separator"></div>
                    <div class="profile-picture">
                        <div class="current-profile-picture">
                            <p class="field-title">Current Profile Picture</p>
                            <div class="horizontal-separator"></div>
                            <div class="ppf-wrapper">
                                <img src="<%= user.profile_picture %>" alt="<%= user.ppf_description %>" />
                            </div>
                        </div>
                        <div class="vertical-separator"></div>
                        <div class="change-profile-picture">
                            <% if(locals.profilePictures) { %>
                                    <p class="field-title">Select A New Profile Picture</p>
                                    <div class="horizontal-separator"></div>
                                    <div class="profile-pictures-container">
                                        <% profilePictures.forEach((profilePicture) => { %>
                                            <div class="option">
                                                <label clas for="<%= profilePicture.description %>">
                                                    <img src="<%= profilePicture.path %>" alt="<%= profilePicture.description %>" >
                                                </label>
                                                <input type="radio" name="updatedProfilePicture" id="<%= profilePicture.description %>" value="<%= profilePicture.id  %>" <%= user.profile_picture === profilePicture.path ? 'checked' : null  %> />
                                            </div>
                                        <% }) %>
                                    </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="horizontal-separator"></div>
                    <button class="button">Update Profile Picture</button>
                </form>
                <div class="user-messages">
                    <h2>All The Messages You Send</h2>
                    <div class="horizontal-separator"></div>
                    <% if(locals.userMessages) { %>
                        <% userMessages.forEach((message) => { %>
                            <div class="message">
                                <p class="title">
                                    <%= message.title %>
                                </p>
                                <p class="content">
                                    <%= message.content %>
                                </p>
                                <span>
                                    <%= message.created_at %>
                                </span>
                                <form action="/delete-user-message" method="POST">
                                    <input type="hidden" name="messageId" value="<%= message.id %>" />
                                    <button class="delete-message-button" type="submit">
                                        <span class="material-symbols-sharp">close</span>
                                    </button>
                                </form>
                            </div>
                        <% }) %>
                    <% } %>
                    <% if(locals.userMessages.length === 0) { %>
                        <p>You have not sent any messages. write your first one!</p>
                    <% } %>
                </div>
                <form class="delete-user-form" action="/delete-user" method="POST">
                    <h2>
                        Delete Your Account
                    </h2>
                    <div class="horizontal-separator"></div>
                    <label class="label" for="deleteUserPass">
                        Enter your password to confirm the deletion
                    </label>
                    <div class="input-wrapper">
                        <span class="material-symbols-sharp input-icon">account_circle_off</span>
                        <input class="input-field" type="password" name="deleteUserPass" id="deleteUserPass" />
                    </div>
                    <button class="button" type="submit">
                        Delete Your Account
                    </button>
                </form>
            </div>
        </main>
    </body>
</html>
