<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Users</title>
        <link rel="stylesheet" href="/css/variables.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/users.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/classes.css">
        <link rel="stylesheet" href="/css/animations.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20,100,0..1,-50" />
        <script defer src="/js/utilities/noTranslateGoogleIcons.js"></script>
        <script defer src="/js/utilities/toggleMobileNavbar.js"></script>
        <script defer src="/js/users/toggleFilters.js"></script>
    </head>
    <body>
        <%- include('../partials/navbar.ejs', {currentPath}) %>
        <main>
            <%- include('../partials/header.ejs', {pageTitle: "Users"}) %>
            <% if(locals.validationErrors) { %>
                <div class="errors-container">
                    <% validationErrors.forEach((error)=>{ %>
                        <p>
                            <%= error.msg %>
                        </p>
                    <% }) %>
                </div>
            <% } %>
            <div class="filters">
                <div class="button-section">
                    <button class="button" id="toggle-filters">Show sorting options</button>
                </div>
                <div class="filters-section">
                    <form class="form-field" action="/users/search" method="GET">
                        <div class="form-field">
                            <label class="label" for="username">
                                Search by username
                            </label>
                            <div class="input-wrapper">
                                <span class="material-symbols-sharp input-icon">
                                    alternate_email
                                </span>
                                <input class="input-field" type="text" name="username" id="username" >
                                <button class="search-icon-button" title="Search" type="submit">
                                    <span class="material-symbols-sharp input-icon input-icon">
                                        search
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="sort">
                        <form class="form-field select-form" action="/users/sort" method="GET">
                            <label class="label" for="sortBy">
                                Sort users by
                            </label>
                            <div class="input-wrapper">
                                <span class="material-symbols-sharp input-icon">schedule</span>
                                <select class="select-field" name="sortBy" id="sortBy"> 
                                    <option value="DESC" selected>Newest</option>
                                    <option value="ASC">Oldest</option>
                                </select>
                                <button class="sort-button" type="submit">
                                    <span class="material-symbols-sharp input-icon">arrow_forward</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <button class="button" id="hide-filters">
                        Hide filters
                    </button>
                </div>
            </div>
            <% if(locals.searchResultsMessage) { %>
                <p class="search-result-message">
                    <%= searchResultsMessage %>
                </p>
            <% } %>
            <% if(locals.sortedUsersMessage) { %>
                <p class="search-result-message">
                    <%= sortedUsersMessage %>
                </p>
            <% } %>
            <% if(locals.users) { %>
                <div class="users-container">
                    <% users.forEach((user, index)=> { %>
                        <a style="animation-delay: <%= index %>00ms;" class="user" href="/users/<%= user.id %>">
                            <div class="profile-picture-container">
                                <div class="wrapper">
                                    <img class="profile-picture" src="<%= user.profile_picture %>" alt="User profile picture">
                                </div>
                            </div>
                            <h2 class="full-name">
                                <%= user.first_name %> <%= user.last_name %>
                            </h2>
                            <div class="username-and-gender">
                                <p>
                                    @<%= user.username %>
                                </p>
                                <span class="material-symbols-sharp ">
                                    <%= user.gender === 'male' ? 'male' : 'female' %>
                                </span>
                            </div>
                            <div class="horizontal-separator"></div>
                            <div class="icons">
                                <div class="icon">
                                    <div class="icon-wrapper">
                                        <span class="material-symbols-sharp">
                                            <%= user.is_member ? 'shield_with_heart' : 'heart_broken' %>
                                        </span>
                                    </div>
                                    <p>
                                        <%= user.is_member ? 'Member' : 'Not a member' %>
                                    </p>
                                </div>
                                <div class="vertical-separator"></div>
                                <div class="icon">
                                    <div class="icon-wrapper">
                                        <span class="material-symbols-sharp">
                                            <%= user.is_admin ? 'security' : 'gpp_bad' %>
                                        </span>
                                    </div>
                                    <p>
                                        <%= user.is_admin ? 'Admin' : 'Not an admin' %>
                                    </p>
                                </div>
                            </div>
                            <div class="horizontal-separator"></div>
                            <div class="messages">
                                <div class="icon">
                                    <div class="icon-wrapper">
                                        <span class="material-symbols-sharp message-icon">
                                            comic_bubble
                                        </span>
                                    </div>
                                </div>
                                <div class="vertical-separator"></div>
                                <div class="text">
                                    <p>Messages</p>
                                    <p>
                                        Wrote <%= user.n_messages %> <%= user.n_messages == 1 ? 'message' : 'messages' %>.
                                    </p>
                                </div>
                            </div>
                            <div class="horizontal-separator"></div>
                            <p class="account-date">
                                Joined on <%= user.creation_date %>
                            </p>
                        </a>
                    <% }) %>
                </div>
            <% } %>
        </main>
    </body>
</html>
